body {
    height: auto;
    background-color: aqua;
    /* margin: 0px; */
    padding: 0px;
}

section header {
    background-color: rgb(0, 0, 0);
    height: auto;
    padding: 0px;
}

section article {
    background-color: rgb(55, 231, 93);
    height: auto;
}

section footer {
    background-color: rgb(14, 29, 47);
    /* height: auto; */
}

.pof-navbar {
    background-color: rgba(0, 0, 0, 0.55);
    box-shadow: 1px 1px 3px rgba(255, 255, 255, 0.54);
}

.photo {
    height: 200px;
    width: 200px;
}

header row {
    height: auto;
}